body {
  background: #ffcce3;
}

h1 {
  color: #464e51;
}

h1,
p {
  text-align: center;
}

.croissant2-photo {
  max-width: 100%;
  border-radius: 30px;
  display: block;
  margin: 30px 10;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: #464e51;
}
